frameworkVersion: ">=1.0.0 <2.0.0"

service:
  name: iframely

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'dev'}
  region: eu-central-1

plugins:
  - serverless-offline  

functions:
  app:
    handler: lambda.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'